body{
  padding:10px;
  background:white;
  padding:10px;
  height:100%;
  position:fixed;
  width:100%;
}

#message {
  display:none;
  font-size:17px;}
#message.active {
  display:block;
}
#time {
  color:red;
  font-size:25px;
}
#login,#logout {
  padding:10px;
  font-family:15px;
}

#login {
  background-color:green;
}
#logout {
  background-color:red;
}

p {
	max-width:800px;
}